body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
h1{
  font-size: 50px;
  color: #ff3399;
}
h2{
  font-size: 40px;
  font-weight: 400;
}
p{
  color: dimgray;
}
.link-btn{
  text-decoration: none;
  background-image: linear-gradient(45deg, #ff80bf, #ff3399);
  padding: 10px 30px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
}

.half-width{
  /* border: 1px solid green; */
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.half-width img{
  width: 100%;
}
#jack-smith{
  position: relative;
  top: 100px;
  left: 80px;
}
#jack-smith h1, h2{
  margin: 0;
}
#jack-smith p{
  padding: 30px 0;
}

section{
  height: 570px;
  /* border: 1px solid red; */
  padding-top: 80px;
  padding-bottom: 80px;
}
.top-area{
  background-image: url("images/header-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* Biography area  */
.biography-area{
  height: 670px;
  background-image: url("images/biography-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#biography{
  position: relative;
  top: 120px;
}
#biography p{
  padding-bottom: 30px;
}

/* work area  */
.single-work{
  width: 25%;
  /* border: 1px solid blue; */
  float: left;
  margin-left: 5%;
  padding-left: 1%;
  box-shadow: 10px 10px 40px gray;
  border-radius: 10px;
}
.single-work img{
  width: 100%;
}
.work-area h2{
  margin-bottom: 50px;
  text-align: center;
}
.work-area{
  height: 400px;
  background-image: url("images/latest-work-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* bottom area  */
.bottom-area{
  text-align: center;
  height: 470px;
  background-image: url("images/footer-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.bottom-area h2{
  margin-bottom: 70px;
}
.bottom-area h4,h5{
  margin: 0;
}
h5{
  color: gray;
}
blockquote{
  padding: 30px 0;
}
.contact{
  /* border: 1px solid green; */
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #ff80bf, #ff3399);
  padding: 20px 0;
}
.contact h3, #message{
  color: white;
}
footer p{
  color: dimgray;
  font-size: 12px;
  text-align: center;
}